Текущий_проект/data/raw/
Текущий_проект/data/derived/
Текущий_проект/results/*.joblib
Текущий_проект/results/*.log
Текущий_проект/results/*.npz
Текущий_проект/results/**/*.npz
**/__pycache__/
**/.pytest_cache/
**/.ipynb_checkpoints/
